.app {
  margin-bottom: 50px;
}

.navbar {
  display: block !important;
}

.navbar a {
  color: white !important;
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute !important;
  top: 180px!important;
  left: 200px!important;
  right: 200px!important;
  bottom: 180px!important;
  border: 1px solid rgb(204, 204, 204)!important;
  background: rgb(255, 255, 255)!important;
  overflow: auto!important;
  border-radius: 4px!important;
  outline: none!important;
  padding: 20px!important;
  border-radius: 3px!important;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12)!important;
  min-width: 500px!important;
  display: block !important;
}

.margin-bottom {
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
